In [20]:
import pandas as pd
import pandas_ta as ta
import glob
from datetime import datetime, time

headers = ['Date','Time','Open','High','Low','Close','Volume']
path = "C:\\Users\\desma\\Downloads\\jupyter work\\DATA\\"
#set up so i could run multiple datasets if wanted
filenames = glob.glob(path + "SPY2h.txt")
for file in filenames:
    print("\nReading file = ", file)
    df = pd.read_csv(file, header = None)
    df.columns=headers
dfLen = len(df)
df

Reading file =  C:\Users\desma\Downloads\jupyter work\DATA\SPY2h.txt

            Date   Time    Open    High       Low     Close    Volume
0     06/22/2018  04:00  256.93  257.43  256.9300  257.2200    100435
1     06/22/2018  06:00  257.22  257.40  257.1200  257.4000    301968
2     06/22/2018  08:00  257.38  257.59  256.8500  257.0300   6437279
3     06/22/2018  10:00  257.02  257.43  256.5600  257.1600  14641972
4     06/22/2018  12:00  257.16  257.46  257.0600  257.3700   5231450
...          ...    ...     ...     ...       ...       ...       ...
9139  07/01/2022  10:00  378.69  380.03  373.8000  375.4000  17739835
9140  07/01/2022  12:00  375.44  378.32  374.9001  378.2197   9158204
9141  07/01/2022  14:00  378.23  381.70  377.3000  381.2000  20486865
9142  07/01/2022  16:00  381.20  381.42  380.9000  381.2000   3892847
9143  07/01/2022  18:00  381.15  381.48  380.9500  381.0700     35306

[9144 rows x 7 columns]

In [23]:
import numpy as np
tagID = 0
levels = [[0, 1, 0] for i in range(dfLen)]

def close(curr, idx):
    MOE = .0025  #  .3%
    global tagID 
    accumulation = curr
    for row in reversed(range(idx-1)):     #use idx-1, since idx would be current extrema
        if (abs(1-curr/df.iloc[row].Extrema)<MOE and df.iloc[row].Extrema!=0): #find other extrma in bounds
            levels[idx][1] += 1                 #add to count accumulater
            accumulation += df.iloc[row].Extrema     #accumulation of levels within MOE, will later divide by /n
                                            #occurances to compute levels mean
            levels[idx][2] = levels[row][2]   #if found in prior row, level has occured. Copy tagID   
    
    count = levels[idx][1]
    if count>1:        #found other values, and done looping. now can compute the mean
        mean = round(accumulation/count, 2)
        levels[idx][0] = mean
        
    else:     #first occurance of level
        levels[idx][0] = curr
        levels[idx][1] = 1
        levels[idx][2] = tagID
        tagID += 1
    

def support(df, b, curr):
    halfPt = b/2
    test = df.Low[curr-halfPt]
    for i in range(curr-b, curr+1):
        if(test>df.Low[i]): #if we find a value less than our current mark, current != local min
            return 0
    else:
        return 1
        
def resist(df, b, curr):
    halfPt = b/2
    test = df.High[curr-halfPt]
    for i in range(curr-b, curr+1):
        if(test<df.High[i]): #if we find a value greater than our current mark, current != max
            return 0
    else:
        return 1
        
back = 20    #MUSTBE EVEN NUMBER
pos = 10     #CRUCIAL FOR PLACEMENT OF EXTREMA. OTHERWISE BROKEN

S = ['NaN']*dfLen
R = ['NaN']*dfLen
xtrma = [0]*dfLen

for row in range(back, dfLen):
    if(support(df, back, row)==1):
        S[row-pos] = df.Low[row-pos]
        xtrma[row-pos] = df.Low[row-pos] #support level
        
    elif(resist(df, back, row)==1):
        R[row-pos] = df.High[row-pos]
        xtrma[row-pos] = df.High[row-pos]#resistance level
        
df['S'] = S
df['R'] = R
df['Extrema'] = xtrma

#levels = (mean, level tag#, number of instances)
for row in range(0, dfLen):
    if df.iloc[row].Extrema > 0:
        close(df.iloc[row].Extrema, row)
            
df['Level'] = levels
print(levels[dfLen-40:dfLen])
df.tail(40)

C:\Users\desma\AppData\Local\Temp/ipykernel_19136/2077244691.py:11: RuntimeWarning: divide by zero encountered in double_scalars
  if (abs(1-curr/df.iloc[row].Extrema)<MOE and df.iloc[row].Extrema!=0): #find other extrma in bounds

[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [393.16, 1, 141], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [372.89, 4, 95], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0]]

,Date,Time,Open,High,Low,Close,Volume,S,R,Extrema,Level
9104,06/27/2022,04:00,392.5700,392.9400,391.0200,391.7000,114682,NaN,NaN,0.00,"[0, 1, 0]"
9105,06/27/2022,06:00,391.7000,391.7600,390.6800,391.4300,259936,NaN,NaN,0.00,"[0, 1, 0]"
9106,06/27/2022,08:00,391.1900,392.7196,387.5200,388.1000,8520688,NaN,NaN,0.00,"[0, 1, 0]"
9107,06/27/2022,10:00,388.1300,391.1300,387.9900,390.5800,13800276,NaN,NaN,0.00,"[0, 1, 0]"
9108,06/27/2022,12:00,390.6000,390.7450,388.1000,388.3918,9454565,NaN,NaN,0.00,"[0, 1, 0]"
9109,06/27/2022,14:00,388.4200,389.3700,387.4400,388.6600,16329407,NaN,NaN,0.00,"[0, 1, 0]"
9110,06/27/2022,16:00,388.6600,389.3500,388.5300,389.1500,3710962,NaN,NaN,0.00,"[0, 1, 0]"
9111,06/27/2022,18:00,389.1500,389.3500,388.7400,389.0900,96640,NaN,NaN,0.00,"[0, 1, 0]"
9112,06/28/2022,04:00,389.6300,391.3600,389.6300,390.2200,68000,NaN,NaN,0.00,"[0, 1, 0]"
9113,06/28/2022,06:00,390.2200,391.1500,390.2200,390.8400,206210,NaN,NaN,0.00,"[0, 1, 0]"
9114,06/28/2022,08:00,390.7099,393.1600,388.5200,391.9199,7429711,NaN,393.16,393.16,"[393.16, 1, 141]"
9115,06/28/2022,10:00,391.9000,392.3200,383.8700,384.0900,19042969,NaN,NaN,0.00,"[0, 1, 0]"
9116,06/28/2022,12:00,384.1000,385.3400,382.5300,383.0850,12251291,NaN,NaN,0.00,"[0, 1, 0]"
9117,06/28/2022,14:00,383.0200,383.7800,380.5300,380.7400,21364521,NaN,NaN,0.00,"[0, 1, 0]"
9118,06/28/2022,16:00,380.7400,381.2400,380.4100,381.0400,4324318,NaN,NaN,0.00,"[0, 1, 0]"
9119,06/28/2022,18:00,381.0600,381.3800,380.8000,381.2000,170049,NaN,NaN,0.00,"[0, 1, 0]"
9120,06/29/2022,04:00,380.7100,381.4500,379.4500,379.4500,70089,NaN,NaN,0.00,"[0, 1, 0]"
9121,06/29/2022,06:00,379.5600,381.5300,379.5100,381.4000,269891,NaN,NaN,0.00,"[0, 1, 0]"
9122,06/29/2022,08:00,381.3900,382.2400,378.4200,381.0718,8374076,NaN,NaN,0.00,"[0, 1, 0]"
9123,06/29/2022,10:00,381.0400,382.2700,379.1800,380.5300,15774867,NaN,NaN,0.00,"[0, 1, 0]"
9124,06/29/2022,12:00,380.5100,380.9100,378.4500,380.8207,10414453,NaN,NaN,0.00,"[0, 1, 0]"
9125,06/29/2022,14:00,380.8177,381.7099,379.5300,380.3600,16527606,NaN,NaN,0.00,"[0, 1, 0]"
9126,06/29/2022,16:00,380.3700,380.7200,380.0800,380.5300,2794571,NaN,NaN,0.00,"[0, 1, 0]"
9127,06/29/2022,18:00,380.6000,380.6700,379.8300,380.0400,194163,NaN,NaN,0.00,"[0, 1, 0]"
9128,06/30/2022,04:00,377.4800,377.4800,374.6000,375.8200,238497,NaN,NaN,0.00,"[0, 1, 0]"
9129,06/30/2022,06:00,375.8000,375.9900,374.5400,375.0100,456409,NaN,NaN,0.00,"[0, 1, 0]"
9130,06/30/2022,08:00,375.5001,379.4000,373.0500,373.3421,10064191,NaN,NaN,0.00,"[0, 1, 0]"
9131,06/30/2022,10:00,373.3600,378.4300,372.5600,378.3413,19037866,372.56,NaN,372.56,"[372.89, 4, 95]"
9132,06/30/2022,12:00,378.3450,380.6582,376.9000,379.8350,15361540,NaN,NaN,0.00,"[0, 1, 0]"
9133,06/30/2022,14:00,379.8300,380.1200,375.0900,377.2850,32071955,NaN,NaN,0.00,"[0, 1, 0]"
9134,06/30/2022,16:00,377.2850,380.5345,376.1800,376.5700,6928867,NaN,NaN,0.00,"[0, 1, 0]"
9135,06/30/2022,18:00,376.5500,377.4900,375.7200,377.3700,237535,NaN,NaN,0.00,"[0, 1, 0]"
9136,07/01/2022,04:00,374.6900,377.2000,373.8000,377.1100,122547,NaN,NaN,0.00,"[0, 1, 0]"
9137,07/01/2022,06:00,377.2500,377.8000,374.7500,375.3100,273267,NaN,NaN,0.00,"[0, 1, 0]"
9138,07/01/2022,08:00,375.5801,379.7100,373.5000,378.6900,7899424,NaN,NaN,0.00,"[0, 1, 0]"
9139,07/01/2022,10:00,378.6900,380.0300,373.8000,375.4000,17739835,NaN,NaN,0.00,"[0, 1, 0]"
9140,07/01/2022,12:00,375.4400,378.3200,374.9001,378.2197,9158204,NaN,NaN,0.00,"[0, 1, 0]"
9141,07/01/2022,14:00,378.2300,381.7000,377.3000,381.2000,20486865,NaN,NaN,0.00,"[0, 1, 0]"
9142,07/01/2022,16:00,381.2000,381.4200,380.9000,381.2000,3892847,NaN,NaN,0.00,"[0, 1, 0]"
9143,07/01/2022,18:00,381.1500,381.4800,380.9500,381.0700,35306,NaN,NaN,0.00,"[0, 1, 0]"

In [24]:
for i in range(dfLen):
    if levels[i][1]>1:
        print(levels[i])

[251.05, 2, 0]
[255.7, 2, 1]
[251.42, 2, 0]
[255.56, 3, 1]
[260.6, 2, 2]
[260.4, 3, 2]
[260.4, 4, 2]
[265.51, 2, 7]
[260.82, 5, 2]
[263.8, 2, 6]
[260.49, 6, 2]
[265.88, 2, 7]
[267.12, 2, 8]
[265.48, 3, 7]
[263.18, 3, 5]
[265.46, 4, 7]
[261.62, 2, 4]
[265.64, 6, 7]
[266.74, 4, 8]
[271.95, 3, 10]
[267.26, 3, 8]
[270.18, 2, 12]
[267.98, 3, 9]
[272.24, 3, 11]
[272.29, 4, 11]
[271.64, 3, 10]
[275.01, 2, 15]
[272.35, 5, 11]
[275.04, 3, 15]
[255.31, 3, 1]
[267.95, 4, 9]
[271.08, 4, 10]
[263.88, 3, 6]
[257.89, 2, 3]
[251.75, 2, 0]
[255.24, 4, 1]
[243.88, 2, 19]
[263.9, 4, 6]
[250.64, 2, 0]
[257.85, 3, 3]
[250.64, 3, 0]
[246.48, 3, 18]
[263.76, 6, 6]
[262.91, 3, 5]
[246.26, 3, 18]
[254.86, 3, 1]
[251.6, 4, 0]
[252.45, 3, 0]
[243.71, 3, 19]
[237.16, 2, 26]
[231.21, 2, 27]
[244.36, 3, 19]
[251.89, 5, 0]
[246.19, 4, 18]
[251.68, 6, 0]
[246.81, 3, 22]
[257.9, 4, 3]
[252.72, 3, 21]
[257.82, 5, 3]
[263.53, 7, 6]
[263.8, 7, 6]
[260.62, 6, 2]
[265.62, 7, 7]
[262.96, 5, 5]
[261.71, 3, 4]
[263.82, 8, 6]
[265.77, 9, 7]
[261.35, 6, 4]
[257.29, 2, 3]
[266.48, 7, 8]
[269.47, 4, 12]
[270.23, 3, 12]
[263.18, 8, 5]
[267.53, 6, 8]
[263.6, 12, 6]
[272.51, 5, 11]
[271.9, 6, 10]
[275.11, 4, 15]
[275.62, 2, 15]
[276.08, 2, 15]
[272.68, 5, 11]
[277.88, 2, 34]
[275.56, 6, 15]
[276.48, 2, 15]
[274.56, 4, 15]
[270.93, 6, 10]
[274.06, 3, 33]
[265.42, 6, 7]
[274.08, 4, 33]
[268.9, 4, 9]
[265.85, 11, 7]
[262.35, 6, 5]
[265.58, 10, 7]
[259.0, 2, 20]
[276.13, 5, 15]
[272.62, 7, 11]
[274.05, 5, 33]
[278.01, 3, 34]
[276.27, 5, 15]
[279.16, 2, 36]
[276.28, 6, 15]
[281.72, 2, 37]
[281.57, 3, 37]
[285.21, 2, 39]
[282.46, 3, 38]
[285.63, 2, 39]
[282.04, 4, 37]
[285.1, 3, 39]
[287.77, 2, 42]
[285.28, 5, 39]
[263.92, 8, 6]
[279.68, 3, 35]
[272.66, 8, 11]
[280.01, 3, 35]
[268.27, 5, 9]
[279.33, 4, 36]
[275.46, 8, 15]
[280.0, 4, 35]
[269.49, 5, 12]
[276.1, 9, 15]
[271.77, 6, 10]
[280.72, 3, 37]
[280.72, 3, 37]
[275.62, 9, 15]
[285.26, 6, 39]
[281.89, 6, 37]
[287.95, 3, 42]
[285.25, 7, 39]
[284.05, 2, 40]
[288.02, 4, 42]
[284.47, 5, 39]
[287.24, 3, 41]
[281.73, 6, 37]
[285.36, 7, 39]
[281.14, 6, 37]
[285.33, 9, 39]
[272.58, 10, 11]
[282.32, 6, 38]
[275.28, 8, 15]
[285.55, 7, 39]
[286.94, 3, 41]
[287.28, 6, 41]
[284.31, 5, 40]
[287.89, 6, 42]
[285.25, 9, 39]
[288.42, 3, 42]
[296.05, 2, 47]
[296.47, 2, 47]
[295.72, 4, 45]
[294.04, 2, 48]
[301.96, 2, 50]
[308.22, 2, 55]
[307.64, 2, 55]
[305.32, 2, 53]
[312.76, 2, 57]
[319.79, 2, 60]
[317.21, 2, 61]
[319.91, 3, 60]
[309.94, 2, 54]
[316.48, 3, 59]
[308.28, 3, 55]
[322.02, 2, 62]
[322.55, 2, 62]
[276.04, 11, 15]
[301.9, 3, 50]
[285.9, 7, 39]
[301.53, 3, 50]
[301.41, 4, 50]
[260.18, 4, 2]
[277.94, 4, 34]
[262.02, 6, 4]
[219.18, 2, 24]
[241.8, 2, 31]
[255.08, 6, 1]
[241.83, 3, 31]
[255.3, 7, 1]
[237.17, 3, 26]
[265.83, 13, 7]
[272.07, 11, 10]
[275.66, 13, 15]
[266.18, 8, 7]
[279.98, 5, 35]
[263.2, 10, 5]
[274.79, 7, 15]
[267.06, 7, 8]
[276.01, 13, 15]
[288.12, 7, 42]
[269.51, 6, 12]
[279.69, 9, 35]
[273.41, 7, 11]
[279.85, 8, 35]
[263.89, 10, 6]
[281.73, 7, 37]
[288.12, 8, 42]
[281.62, 9, 37]
[287.16, 6, 41]
[296.57, 3, 47]
[299.02, 3, 49]
[313.17, 2, 57]
[285.54, 11, 39]
[306.52, 2, 52]
[298.71, 3, 51]
[305.39, 3, 53]
[296.85, 3, 47]
[305.44, 4, 53]
[299.17, 4, 49]
[290.85, 2, 43]
[308.86, 4, 54]
[308.21, 6, 55]
[301.72, 5, 50]
[313.29, 3, 57]
[303.03, 2, 71]
[313.75, 3, 57]
[309.91, 3, 54]
[317.93, 3, 61]
[317.93, 3, 61]
[313.71, 4, 57]
[318.98, 3, 60]
[309.97, 4, 54]
[314.65, 3, 58]
[310.2, 4, 54]
[317.98, 5, 61]
[322.36, 4, 62]
[328.47, 2, 72]
[325.38, 2, 64]
[326.68, 2, 65]
[325.41, 3, 64]
[320.19, 3, 60]
[321.87, 3, 62]
[333.03, 2, 76]
[322.89, 3, 62]
[313.88, 6, 57]
[323.52, 2, 62]
[312.09, 3, 56]
[321.78, 4, 62]
[330.17, 2, 73]
[323.32, 4, 62]
[333.52, 2, 76]
[325.29, 4, 64]
[342.26, 2, 74]
[332.9, 3, 76]
[332.28, 2, 76]
[327.19, 2, 65]
[325.27, 5, 64]
[314.65, 4, 58]
[342.14, 3, 74]
[348.64, 2, 75]
[342.74, 4, 74]
[345.38, 2, 77]
[345.43, 3, 77]
[355.07, 2, 82]
[358.2, 2, 81]
[357.58, 2, 81]
[353.9, 4, 82]
[360.77, 2, 87]
[350.5, 2, 86]
[357.14, 4, 81]
[362.16, 2, 88]
[363.31, 3, 92]
[357.4, 4, 81]
[368.86, 2, 94]
[373.74, 2, 95]
[366.24, 2, 91]
[373.57, 3, 95]
[370.72, 2, 90]
[377.6, 3, 96]
[362.65, 5, 88]
[373.71, 4, 95]
[360.76, 3, 87]
[384.8, 2, 99]
[379.7, 2, 100]
[384.78, 3, 99]
[373.0, 3, 95]
[384.85, 4, 99]
[370.65, 3, 90]
[382.93, 2, 98]
[364.14, 3, 89]
[387.42, 2, 101]
[384.93, 5, 99]
[389.9, 2, 102]
[379.96, 3, 100]
[387.37, 3, 101]
[377.52, 4, 96]
[403.85, 2, 106]
[403.91, 3, 106]
[410.88, 2, 107]
[411.01, 3, 107]
[413.04, 2, 108]
[404.08, 4, 106]
[410.83, 4, 107]
[410.74, 5, 107]
[413.18, 3, 108]
[410.68, 6, 107]
[410.66, 7, 107]
[415.57, 2, 111]
[411.45, 5, 107]
[409.14, 2, 109]
[415.74, 3, 111]
[413.15, 4, 108]
[413.17, 5, 108]
[416.18, 5, 111]
[406.85, 2, 110]
[428.34, 2, 118]
[422.02, 2, 116]
[415.93, 5, 111]
[415.93, 5, 111]
[430.09, 2, 121]
[435.3, 2, 122]
[430.67, 4, 120]
[435.25, 3, 122]
[430.22, 4, 121]
[435.32, 4, 122]
[435.28, 5, 122]
[428.36, 3, 118]
[443.42, 2, 126]
[447.67, 2, 128]
[446.71, 2, 128]
[436.87, 2, 124]
[442.1, 3, 125]
[442.48, 3, 126]
[424.09, 2, 119]
[440.33, 3, 125]
[441.65, 4, 125]
[428.33, 4, 118]
[439.4, 2, 127]
[439.4, 2, 127]
[433.1, 2, 123]
[420.97, 3, 117]
[431.02, 4, 120]
[430.68, 7, 120]
[422.12, 3, 116]
[436.87, 3, 124]
[448.53, 2, 128]
[456.81, 2, 131]
[456.88, 3, 131]
[465.46, 2, 132]
[465.36, 3, 132]
[461.38, 2, 133]
[444.16, 2, 126]
[455.86, 2, 131]
[443.88, 4, 126]
[465.76, 5, 132]
[461.35, 3, 133]
[467.56, 3, 134]
[455.28, 2, 131]
[448.01, 4, 128]
[475.36, 2, 139]
[470.15, 2, 138]
[470.22, 3, 138]
[475.72, 3, 139]
[453.37, 2, 130]
[470.09, 4, 138]
[417.87, 3, 114]
[440.61, 5, 125]
[422.97, 4, 116]
[455.1, 3, 131]
[440.54, 6, 125]
[449.17, 2, 128]
[441.71, 5, 125]
[454.69, 5, 130]
[432.02, 4, 120]
[445.45, 3, 128]
[406.92, 3, 110]
[435.26, 6, 122]
[436.34, 6, 122]
[423.8, 4, 119]
[438.69, 3, 127]
[410.79, 9, 107]
[426.6, 2, 129]
[430.28, 6, 121]
[410.68, 9, 107]
[448.59, 5, 128]
[441.54, 7, 125]
[459.74, 2, 136]
[447.32, 5, 128]
[455.51, 5, 131]
[441.54, 8, 125]
[448.84, 5, 128]
[435.19, 7, 122]
[442.65, 6, 126]
[433.22, 3, 123]
[448.13, 8, 128]
[427.54, 6, 118]
[410.81, 11, 107]
[427.91, 7, 118]
[403.53, 5, 105]
[427.9, 8, 118]
[383.45, 4, 98]
[407.03, 4, 110]
[383.51, 5, 98]
[379.06, 4, 96]
[396.3, 3, 103]
[384.99, 6, 99]
[415.76, 6, 111]
[404.88, 2, 106]
[416.61, 7, 111]
[405.8, 3, 110]
[368.9, 3, 94]
[382.7, 3, 98]
[362.24, 4, 88]
[372.89, 4, 95]

In [ ]:
def SIGNAL():
    return df.Signal

In [ ]:
from backtesting import Strategy, Backtest
import numpy as np

class myStrat(Strategy):
    def init(self):
        super().init()
        self.signal1=self.I(SIGNAL)     
        
    def next(self):
        super().next()
        #slatr = 2*self.data.ATR[-1]
        #slpct = self.data.Close[-1]*.02
        #tpslATR = 1.5
        trailSL = self.data.Close[-1]*.005
        for trade in self.trades:
            if trade.is_long:
                trade.sl = max(trade.sl or -np.inf, self.data.Close[-1] - trailSL)
            else:
                trade.sl = min(trade.sl or np.inf, self.data.Close[-1] + trailSL)
        
        if self.signal1==1 and len(self.trades)==0: #Bullish Signal
            self.buy()#, tp=tp1)
            
        elif self.signal1==2 and len(self.trades)==0: #Bearish Signal
            self.sell()#, tp=tp2) 
            
bt = Backtest(df, myStrat, cash=10_000, margin = 1/3, commission=.000)
stat = bt.run()
stat
bt.plot()